:root { 
    --light-gray: #666; 
    --white: #ffffff; 
}
html {
    --scrollbarBG: var(--scrollbarBG);
    --thumbBG: var(--light-gray);
}
*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
* {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
*::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}
.body-block{ 
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 6px;
    max-width: 410px;
    max-height: 100vh;
    border: 1px solid #2d349426;
    margin: 0 15px 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #00000029;
}
.dave-chat-conversation .dave-cc-body{
    max-height: 550px;
    overflow-y: scroll;
    overflow-x: auto;
}
.dave-chat-conversation{
    display: none;
}
.dave-cc-header{
    color: #2D3494;
    margin-bottom: 25px;
}
.dave-cc-header a{
    color: #2D3494;
    text-decoration:none
}
.dave-cc-text{
    border: 1px solid #c3bebe00;
    padding: 6px 6px 0 6px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000024;
    border-radius: 10px;
    font-size: 15px;
    width: fit-content;
    width: -moz-fit-content;
}
.dave-cc-time{
    font-size: 12px;
}
.dave-cc-right-message{
    margin-top: 15px;
}
.dave-cc-right-message .dave-cc-time{
    text-align:right
}
.dave-cc-right-message .dave-cc-left{
    float: right;
}
.dave-cc-right-message .dave-cc-text{
    background: #2D3494;
    color: #fff;
}
/*.body-block{
    height:100vh;
}*/
/*.section-bottom-part{
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;   
    padding: 0 6px;
}*/
.chat{
    padding: 15px 15px 10px;  
    border-radius: 10px;
    background: #244C8C; 
} 
.chat-audio{
    text-align: right;
}
p.chat-ask{ 
    font-weight: 600;
    text-align: center;
}
p.chat-ask a{
    color: #fff !important;
    text-decoration: none;
}
.chat-audio a img{
    height: 42px;
    width: 42px;
}
input.input-text{
    height: 42px; 
    font-size: 16px;
}
.chat .button-submit{
    height: 42px;
    border-left: 0;
    padding: 0 15px;
}
.chat-only-text{
    padding-right: 0;
}
.chat-services{
    margin-bottom: 10px;
    display: none;
}
.chat-services button{
    width: 100%;
    color: #244C8C !important;
    background: #fff !important;
    font-weight: 600;
    margin: 5px 0;
    padding: 12px 4px;
    font-size: 13px;
}
.chat-mic-section{
    padding-left: 0;
}
.chat-placeholders{
    box-shadow: 0px 0px 10px #00000029;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: none;
}
.placeholder-header{
    font-style: italic;
    font-size: 24px;
    font-weight: 600;
    margin-top: 4px;
    color: #2D3494;
}
.placeholder-description{
    font-size: 18px;
    font-weight: 600;
    color: #666666;
}
.placeholder-services{
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 15px;
}
.placeholder-services .singleService a{
    display: block;
    cursor: pointer;
    color: #2D3494 !important;
    text-decoration: none !important;
    padding: 15px 6px;
}
.placeholder-services .psd{
    text-align:center;
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 15px;
}
.placeholder-services .singleService{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 10px;
    
}
.placeholder-services .singleService a p{
    font-weight: 600;
    margin: 0;
    width: 100%;
    height: 42px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
    -ms-line-clamp: 5;
    text-overflow: ellipsis;
    overflow: hidden;
}
.placeholder-services .singleService a span.glyphicon{
    font-size: 20px;
    margin-bottom: 13px;
} 
.car-section{
    display: none;
}
.car-block{
    box-shadow: 0px 0px 10px #00000029;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
p.car-description{
    font-size: 16px;
    font-weight: 600;
    color: #666666;
}
.car-section h4.title{
    color : #2D3494;
    font-weight: 600;
}
.car-block img{
    border-radius: 10px;
}
p.car-plan{
    margin-top: 6px;
    color: #2D3494;
    font-weight: 600;
}
span.car-feedback{
    float: right;
}
span.car-feedback a{
    font-size: 18px;
    color: #666666;
    margin: 0 4px;
}
div.car-specification p{
    margin: 0px 0 6px;
    font-weight: 600;
    color: #000;
}
.car-links button{
    font-size: 12px;
    padding: 8px 6px;
    background: #D61F26 !important;
    color: #fff !important;
    font-weight: 600;
    margin: 4px 2px;
}