@font-face{
    font-family: Calibri;
    src:url(../font/calibri.ttf);
}
#dave-settings ol,ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#dave-settings input::-webkit-outer-spin-button,
#dave-settings input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#dave-settings input[type=number] {
  -moz-appearance: textfield;
}
#dave-main-container {/* position: fixed; */z-index: 999;bottom: 30px;right: 0;margin: auto;}

.dave-chatbox-cont {
    position: fixed;
    z-index: 9999;
}

.dave-cb-icon {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    float: right;
    margin-top: 5px;
    position: relative;
    margin-bottom: 10%;
    margin-right: 10%;
    cursor: pointer;
}
.dave-chatbox {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 2px;
    box-shadow: 0px 0px 6px #00000029;
    overflow: hidden;
    display: none;
}

.dave-cb-tt {
    padding: 15px 0px 15px 10px;
}
.dave-cb-tt-sec {
    display: flex;
    background: #f7f7f7;
    justify-content: space-between;
    padding: 0px 0px 0px 10px;
}

.dave-cb-tt-cross {
    align-self: center;
    margin: 0px 10px 0px 0px;
    color: red;
    cursor: pointer;
}

.dave-cb-chatsugg {
    display: flex;
    padding: 0px 0px 5px 0px;
    color: black;
    margin: 0px 10px;
    font-size: 0.8rem;
    /* overflow-x: scroll; */
    cursor: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    overflow: auto;
}
.dave-cb-chatsugg-list {
    padding: 2px 5px;
    margin-right: 8px;
    white-space: nowrap;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: left;
    letter-spacing: 0px;
    color: #414042;
}
.dave-cb-input input {
    font-size: 0.8rem;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 40px 15px 20px;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.2px;
    border-color: unset;
    box-shadow: 0px 0px 5px #0000001f !important;
}

.dave-cb-type-sec {
    padding: 0px 10px 10px 10px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.dave-cb-send-icon {
    position: absolute;
    right: 10px;
    bottom: 14%;
    color: grey;
    flex: auto;
}

.dave-cb-input {
    width: 100%;
    flex: auto;
    position: relative;
    margin-top: 5px;
    display: flex;
}

.dave-cb-chatarea {
    padding: 10px 30px 0px 30px;
    overflow-x: hidden;
    overflow-y: auto;
}

.dave-botchat {
    max-width: 85%;
    width: max-content;
    position: relative;
    padding: 5px 5px 5px 0px;
    border-radius: 5px;
    margin: 20px 0px;
}

.dave-botchat:after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: -25px;
    margin-bottom: 0px;
}

.dave-botchat:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: -5px;
    bottom: 0;
    margin-bottom: 0px;
    border-top-left-radius: 100px;
}
.dave-userchat {
    max-width: 85%;
    position: relative;
    margin: 20px;
    margin-left: auto;
    margin-right: 2px;
    border-radius: 5px;
    width: max-content;
}

.dave-userchat:after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    right: -25px;
    margin-bottom: 0px;
}

.dave-userchat:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    right: -5px;
    bottom: 0;
    margin-bottom: 0px;
    border-top-right-radius: 100px;
}
.dave-bc-avatar img,.dave-uc-avatar img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    margin: auto;
}
p.dave-chattext {
    margin: 0px;
    padding: 5px 5px 5px 15px;
    letter-spacing: 0px;
    text-align: left;
}

.dave-chat-items-contt {padding: 5px;background: white;box-shadow: 0px 0px 6px #00000029;border-radius: 10px;}

ul.dave-chat-items {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 286px;
    grid-gap: 5px;
}
p.dave-userchat-p {
    padding: 5px 10px 10px 10px;
    text-align: left;
    letter-spacing: 0px;
}

ul.dave-chat-items li {
    background: #ffffff;
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

p.dave-chat-items-top-p {
    margin: 0;
    font-size: 0.5em;
    position: absolute;
    top: 10px;
    left: 10px;
}

p.dave-chat-items-bottom-p {
    font-size: 0.6em;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0;
    padding: 1.5px;
    line-height: 1;
    text-align: center;
    background: rgba(1,1,1,0.5);
    color: white;
    white-space: break-spaces;
    overflow: hidden;
    width: 100%;
}

.dave-chat-items-imgcontt {
    height: 145px;
    position: relative;
    min-width: 100px;
    overflow: hidden;
}
/*Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0 0 0 / 10%);
  box-shadow: inset 0px 0px 2px 2px rgb(0 0 0 / 10%);
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0 0 0 / 30%);
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*Scrollbar end*/
.dave-chatbox-open{
    display: block;
}
.dave-cb-input input:focus {
    border-radius: 15px;
    outline: none;
    outline-width: 2px;
    box-shadow: 0px 0px 0px 2px #e9e9e9;
}
.dave-cb-icon-hide{
    background-color: black;
    display: none;
}
.dave-bc-avatar,.dave-uc-avatar {
    position: absolute;
    background: #eff5fc;
    border-radius: 50%;
    left: -28px;
    bottom: -20px;
    height: 25px;
    width: 25px;
    z-index: 1;
}
.dave-bc-avatar span,.dave-uc-avatar span {
    font-size: 0.8em;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 35%;
    font-family: 'Calibri';
}
.dave-uc-avatar{
    right: -28px;
    left: auto;
}
.dave-cb-icon img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.dave-cb-send-icon button {
    border: none;
    background: none;
    color: #03a9f4;
    cursor: pointer;
    vertical-align: sub;
}

.dave-cb-send-icon button:hover {
    color: red;
}
.dave-chat-items-imgcontt img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.dave-usertyping-loader,.dave-bottyping-loader,.dave-otherpersonTyping-loader {
    width: 20%;
    height: 30px;
}
.dave-bottyping-loader,.dave-otherpersonTyping-loader{
    margin-right: 70%;
    padding: 0;
}
button#dave-cb-usersend:disabled {
    color: darkgrey;
}
p.dave-userchat-p,p.dave-chattext {
    position: relative;
}

p.dave-userchat-p img, .dave-botchat p.dave-chattext img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 100%;
    border-radius: 5px;
    height: auto;
}
img.dave-user-typing-img,img.dave-botchat-typing-img {
    width: 30px;
    height: 30px !important;
    left: 10px !important;
}

p.dave-userchat-p.dave-user-typing-p,.dave-botchat.dave-bottyping-loader,.dave-otherpersonTyping-loader {
    padding: 0;
}
.dave-cb-form form input,.dave-cb-form form textarea {
    padding: 5px 10px;
    margin: 5px 0px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #daebff;
    border-radius: 5px;
}

.dave-cb-form form input[type="submit"] {
    width: 40%;
    background: #b2cdec;
    padding: 5px 0px;
    text-align: center;
}
p.dave-chattext a {text-decoration: none;color: black;}
.dave-chat-imageResponse {
    position: relative;
    width: 100%;
    height: 285px;
}
ul.dave-option-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 2px;
}

ul.dave-option-list li {
    margin: 10px auto;
    width: auto;
}

ul.dave-option-list li button {
    width: 100%;
    text-align: center;
    border: 1px solid;
    border-radius: 2px;
    padding: 10px 0px;
}
ul.dave-option-list li button:hover {
    background: #a0c9ff 0% 0% no-repeat padding-box;
}
.dave-videoplayer {
    height: 200px;
    width: 100%;
}
button#dave-cb-usersend img:hover {
    content: url('https://d3dnhwzy0rvc6q.cloudfront.net/assets/img/sendhover.png');
}
button#dave-cb-usersend img{
    height: 15px;
}
.dave-cb-tt-minmax img {
    width: 16px;
}
.close-min-max {
    display: flex;
    margin-right: 10px;
}
.close-min-max img {
    width: 14px !important;
}
.dave-cb-tt-minmax {
    align-self: center;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
}
div#dave-canvas {
    width: 100px;
    height: 100px;
    position: relative;
}

#dave-canvas img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.dave-cb-avatar-contt {
    position: fixed;
    width: 0%;
    height: 0%;
    display: none;
    left: 0;
    bottom: calc(0% + 100px);
    z-index: 999;
}
canvas#dave-canvas {
    height: 100px;
    padding: 0;
}
.dave-bottitleicon {
    position: relative;
    width: 50px;
    height: 50px;
    margin: auto 0px;
}

.dave-bottitleicon img {
    position: absolute;
    max-width: 100%;
    margin: auto;
}
.dave-tt-sec1 {
    display: flex;
    width: 80%;
}
ul.dave-option-list {      
    display: inline-flex;
    flex-wrap: wrap;
}   
ul.dave-option-list li {
    margin: 3px;
    width: unset;                                                                                                                                         
}   
    
ul.dave-option-list li button {
    padding: 5px;
}
.dave-cb-stickBottom {
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin-top: 3px;
}

.hidden{
    display: none;
}
.dave-error{
    color: red;
    font-weight: bolder;
}
.dave-valid{
    color: green;
    font-weight: bolder;
}
p.dave-botBubble-header,p.dave-userBubble-header {
    margin: 0;
    font-size: 10px;
    letter-spacing: 0.1px;
    color: #6D6D6D;
    padding: 0px 5px 0px 15px;
    display: flex;
    justify-content: space-between;
}
p.dave-userBubble-header {
    padding: 5px 10px 0px 10px;
}
.dave-botBubble-feedback {
    text-align: right;
    margin-top: 10px;
}
p.dave-feedback-msg {
    text-align: right;
    font: normal normal normal 8px/13px Roboto;
    letter-spacing: 0px;
    color: #8E8E8E;
    position: absolute;
    width: 100%;
}
button.dave-thumbsdown,button.dave-thumbsup {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    border: 1px solid white;
    cursor: pointer;
}

button.dave-thumbsdown img,button.dave-thumbsup img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    margin: auto;
}


button.voice-thumbsup,button.voice-thumbsdown {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    border: 1px solid white;
    cursor: pointer;
}

button.voice-thumbsup img,button.voice-thumbsdown img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    margin: auto;
}
p.dave-chatsuggTitle {
    margin: 0px 10px 3px 10px;
    font-family: 'Calibri';
    font-size: 12px;
    line-height: 20px;
}
.dave-pred-contt {
    flex: 100% 0 0;
    box-shadow: 0px 0px 5px #0000001f;
    overflow: hidden;
    margin: 10px 0px 0px 0px;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
    background: white;
}
li.dave-pred-txt {
    margin: 5px 0px;
    font-size: 0.8em;
    font-family: 'Calibri';
    cursor: pointer;
}
ol.dave-pred-box {
    padding: 5px 20px;
    /* box-shadow: 0px 0px 5px #0000001f; */
}
span.chatsugg-next {
    position: absolute;
    right: 0;
    top: -10px;
    flex: 0 0 100%;
    display: none;
    cursor: pointer;
}
span.chatsugg-prev {
    position: absolute;
    top: -10px;
    left: 0;
    flex: 0 0 100%;
    display: none;
    cursor: pointer;
}
.rating-star-contt {
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 0;
    right: 0;
}

#dave-userfull-rate,#dave-accuracy-rate {
    height: 15%;
    padding: 0 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
#dave-userfull-rate:not(:checked) > input,#dave-accuracy-rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
#dave-userfull-rate:not(:checked) > label,#dave-accuracy-rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:1.1rem;
    color:#ccc;
    /* line-height: 100%; */
    margin-top: 5px;
}
#dave-userfull-rate:not(:checked) > label:before,#dave-accuracy-rate:not(:checked) > label:before {
    content: '★ ';
}
#dave-userfull-rate > input:checked ~ label,#dave-accuracy-rate > input:checked ~ label {
    color: #ffc700;    
}
#dave-userfull-rate:not(:checked) > label:hover,
#dave-accuracy-rate:not(:checked) > label:hover,
#dave-userfull-rate:not(:checked) > label:hover ~ label,
#dave-accuracy-rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
#dave-userfull-rate > input:checked + label:hover,
#dave-accuracy-rate > input:checked + label:hover,
#dave-userfull-rate > input:checked + label:hover ~ label,
#dave-accuracy-rate > input:checked + label:hover ~ label,
#dave-userfull-rate > input:checked ~ label:hover,
#dave-accuracy-rate > input:checked ~ label:hover,
#dave-userfull-rate > input:checked ~ label:hover ~ label,
#dave-accuracy-rate > input:checked ~ label:hover ~ label,
#dave-userfull-rate > label:hover ~ input:checked ~ label,
#dave-accuracy-rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.feedback-row-box {
    text-align: center;
}

textarea#dave-feedback-write {
    width: 80%;
    height: 100px;
    resize: none;
    padding: 5px;
}
.rating-star-contt .dave-error {
    text-align: center;
    padding: 0px 20px;
    font-family: 'Calibri';
    letter-spacing: 1px;
}

.rating-star-contt .dave-valid{
    text-align: center;
    padding: 0px 20px;
    font-family: 'Calibri';
    letter-spacing: 1px;    
}
button#dave-final-feedbackButton {
    font-family: 'Calibri';
    margin-top: 5px;
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    background: #dcebff;
}
.rating-star-contt p {
    text-align: center;
    font-family: 'Calibri';
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}
.dave-mic-contt {
    margin-left: 10px;
    align-self: center;
}

.dave-mic-contt button {
    border: none;
    background: #FEFEFE 0% 0% no-repeat padding-box;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #0000001f;
    position: relative;
    height: 45px;
    width: 30px;
    cursor: pointer;
}
.dave-mic-button img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 70%;
}
.dave-mic-button.rec-stop {
    background: red;
}
.dave-voiceBubble-feedback {
    padding: 10px 10px 10px 0px;
    margin: 0;
    text-align: right;
}

button.dave-thumbsup.voice-thumbsup {
    margin-right: 5px;
}

.scrollToMsg {
    padding: 5px 15px;
    margin: 0px 15px;
    cursor: pointer;
    background: #caccdf;
    border-radius: 5px;
    width: fit-content;
}

.scrollToMsg p {
    margin: 0;
}
label.file_upload_label {
    font-weight: bold;
    padding: 5px 10px;
    text-transform: capitalize;
}

form.dave-form {
    margin-top: 10px;
}
.file_upload_loader {
    display: inline-block;
    width: 40px;
    height: 30px;
    position: relative;
    vertical-align: middle;
}
p.replyBubbleMsg {
    font: normal normal normal 0.9rem/1.2rem Calibri;
    width: fit-content;
}
p.replyBubbleTitle {font-size: 0.7rem;font-family: 'Calibri';letter-spacing: 0.1px;color: #6D6D6D;}
form.dave-form select {
    padding: 0px;
    border-radius: 5px;
    margin-right: 10px;
    margin: 5px 0px;
    width: 100%;
    border: unset;
}
#map {
    height: 300px;
    width: 100%;
}
.pac-container{
    z-index: 9999;
}
.gm-control-active>img {
    box-sizing: content-box;
    display: none;
    left: 50% !important;
    pointer-events: none;
    position: absolute;
    top: 50% !important;
    transform: translate(-50%,-50%);
    border-radius: 0 !important;
    
}
.gm-style img{
    max-width: none !important;
}
input#locationInput {
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 1rem;
}
.xdsoft_datetimepicker.xdsoft_noselect.xdsoft_ {
    z-index: 99999 !important;
}
/*DYNAMIC ELEMENT CHANGES*/
.dave-cb-tt{
     /*CHAT TITLE BAR FONT CAN BE ADJUSTED HERE*/
    align-self: center;
    text-align: center;
}
.dave-botchat,.dave-botchat:before,.dave-userchat,.dave-userchat:before{
    background:#EFF5FC 0% 0% no-repeat padding-box; /*CHAT BUBLE COLOUR CAN BE CHANGED HERE*/
}
.dave-cb-chatsugg-list {
    background: #DCEBFF 0% 0% no-repeat padding-box; /*SUGGESTED OPTIONS COLOR CAN BE CHANGED HERE*/
    font: normal normal bold 0.75rem/0.8rem Calibri; /*FONTS OF SUGGESTED OPTIONS CAN BE CHANGED HERE*/
    cursor: pointer;
}
p.dave-userchat-p,.dave-botchat p.dave-chattext{
    color:#414042; /*COLOR OF TEXT WITHIN CHAT BUBLE CAN BE CHANGED FROM HERE*/
    font: normal normal normal 1rem/1.2rem Calibri; /*FONT OF TEXT WITHIN CHAT BUBBLE CAN BE CHANGED FROM HERE*/
    word-wrap: break-word;
    margin: 0;
}
.dave-cb-form form input[type="submit"]{
    background-color: #b2cdec;
    border-color: #b2cdec; /*BORDER COLOR OF CONTACT FORM CAN BE CHANGED FROM HERE*/
    font: normal normal normal 1rem/1.2rem Calibri; /*FONT OF CONTACT FORM CAN BE CHANGED FROM HERE*/
}
ul.dave-option-list li button{
    background: #FFFFFF; /*CHAT BUBLE LIST OPTION BACKGORUND COLOR CAN BE CHANGED FROM HERE*/
    border-color:#FFFFFF; /*CHAT BUBLE LIST OPTION BORDER COLOR CAN BE CHANGED FROM HERE*/
    font: normal normal bold 14px/13px Calibri; /*CHAT BUBLE LIST OPTION FONT CAN BE CHANGED FROM HERE*/
    color: #000000; /*CHAT BUBLE LIST OPTION TEXT COLOR CAN BE CHANGED FROM HERE*/
}
.dave-chatbox-cont{ /*CHANGE POSTION OF CHATBOX ON DESKTOP USING RIGHT BOTTOM [ALSO YOU CAN USE LEFT AND TOP IF NEEDED]*/
    right: 15px;
    bottom: 5px;
    width: 360px;
}
.dave-cb-chatsugg-list:hover { /*CHANGE QUICK ACCESS ON HOVER EFFECT*/
    background: #a0c9ff 0% 0% no-repeat padding-box;
    color: black;
}
@media only screen and (max-width: 450px){/*CHANGE POSTION OF CHATBOX ON MOBILE USING RIGHT BOTTOM [ALSO YOU CAN USE LEFT AND TOP IF NEEDED]*/
    .dave-chatbox-cont{
        right: 0;
        bottom: 5%;
        width: 100%;
    }
}
/*DYNAMIC ELEMENT CHANGES SECTION ENDS*/
/*Screen size mobile desktop*/
@media only screen and (max-width: 450px){
.dave-videoplayer {
    height: 130px;
}
.dave-videoplayer video {
    height: 130px !important;
}
.dave-cb-stickBottom{
    left: 20px;
    right: 20px;
}

.dave-cb-tt{
    padding: 10px 0px 10px 10px;
}
.dave-chat-imageResponse {
    height: 210px;
}

.dave-chatbox-cont {
    padding: 0px 20px;
    box-sizing: border-box;
}


.dave-cb-icon:hover {
    cursor: pointer;
}
.dave-cb-input input {
    font-size: 0.85rem;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.dave-cb-send-icon {
    right: 20px;
}

.dave-cb-chatsugg-list {
    font-size: 0.8rem;
    padding: 2px;
}

p.dave-userchat-p {
    padding: 10px 20px;
    font-size: 0.8em;
}

.dave-chat-items-imgcontt {
    height: 100%;
}


ul.dave-chat-items {
    height: 245px;
}
.dave-bc-avatar, .dave-uc-avatar {
    font-size: 0.8em;
    height: 20px;
    width: 20px;
    right: -25px;
}

.dave-uc-avatar {
    right: -25px;
}

}
@media only screen and (max-width: 380px){

.dave-cb-input input {
    font-size: 0.9rem;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.dave-cb-send-icon {
    right: 20px;
}

.dave-cb-chatsugg-list {
    padding: 2px;
}

p.dave-userchat-p {
    padding: 10px 20px;
}

.dave-chat-items-imgcontt {
    height: 100%;
}


ul.dave-chat-items {
    height: 205px;
}
.dave-bc-avatar, .dave-uc-avatar {
    font-size: 0.8em !important;
    height: 20px;
    width: 20px;
    right: -25px;
}

.dave-uc-avatar {
    right: -25px;
}
}
