.dave-help-text {
    z-index: 9998;
    position: fixed;
    background-color: rgba(255,255,255, 1.0);
    border-radius: 10px;
    padding: 5px;
    min-width: 150px;
    max-width: 400px;
    font-family: sans-serif;
    color: rgba(75,75,75,1);
    cursor: default;
}
.dave-help-close {
    font-size: 0.5rem;
    float: right;
}
.dave-help-close-symbol {
    float: right;
    font-weight: bold;
    font-size: 1.3rem;
    margin: -10px 2px 0px 5px;
    font-family: monospace;
    cursor: pointer;
}
.dave-help-paragraph {
    font-size: 0.85rem;
    margin: 20px 0 5px 0;
    padding: 1px 5px;
    width: 100%;
    font-weight: bold;
}
.dave-help-sub-text {
    font-size: 0.65rem;
    margin: 0;
    padding: 1px 2px;
    font-style: italic;
    color: rgba(100,100,100,1);
}
.dave-help-shadow {
  -moz-box-shadow:    3px 3px 5px 6px rgba(100,100,100,0.2);
  -webkit-box-shadow: 3px 3px 5px 6px rgba(100,100,100,0.2);
  box-shadow:         3px 3px 5px 6px rgba(100,100,100,0.2);
}
.dave-help-container {
    z-index: 9997;
    position: fixed;
    bottom: 10vh;
    right: 10vw;
    width: 45px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-stroke:1px transparent;
}
.dave-help-control {
    width: 100%;
}
p.dave-help-control {
    margin-bottom: -20px;
    margin-right: -5px;
    font-family: sans-serif;
    font-size: 0.6rem;
    padding: 2px;
    vertical-align: top;
    display: inline;
    color: white;
    background-color: rgba(0,0,0,0.5);
}
