@font-face{
    font-family: "Open Sans";
    src:url('../font/OpenSans-Regular.ttf');
}
@font-face{
    font-family: "Open Sans Light";
    src:url('../font/OpenSans-Light.ttf');
}
html {
    font-size: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}
ol,ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/* POPUP CSS BLOCK STARTS */
nav.nav-menu {
    background: #ffe4c4;
    color: black;
    font-size: 1rem;
    font-weight: 900;
}

ul.nav-menu-ul {
    display: flex;
    justify-content: flex-end;
    padding: 20px 50px;
}

li.nav-menu-li {
    margin-left: 20px;
}

h1.dummyHeading {
    margin: 0;
    background: bisque;
    padding: 20px;
}

.main-body-content {
    padding: 50px;
    font-family: "Open Sans";
}

.videoListHolder {
    margin-top: 50px;
}

ul.videoContainer {
    display: flex;
    width: 50%;
    margin-bottom: 50px;
    justify-content: space-between;
}

li.videoThumbnail {
    height: 100px;
    width: 330px;
    position: relative;
    margin-right: 20px;
}

li.videoThumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
}

.footer {
    background: black;
    padding: 100px 50px;
    color: white;
    font-size: 2rem;
    font-family: "Open Sans";
}
a.video-anchor {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.headercontent {
    font-family: "Open Sans";
}
/* POPUP CSS BLOCK ENDS */
.IV_conatiner {
    height: fit-content;
    display: flex;
    opacity: 0;
    justify-content: space-between;
    transition: all 0.6s ease-in-out;
}

.show-IV_container{
    opacity: 1;
}
.f-half {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 75%;
    height: fit-content;
}

.video-container {
    height: fit-content;
    position: relative;
}

.qna-container {
    box-sizing: border-box;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background: white;
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-in-out;
    box-shadow: -1px 0px 3px -2px black;
    z-index: 999;
}
.hide-qna-container{
    opacity: 0 !important;
    visibility: hidden !important;
}
.maxForum{
    display: none;
}
.showMaxForum{
    display: block;
    flex: 0 0 100%;
    text-align: center;
    padding: 10px 0 0 0;
}
div#dave-settings {font-family: "Open Sans";position: relative;}

.s-half {
    display: flex;
    justify-content: space-between;
    width: 25%;
    font-family: 'Open Sans';
    transition: all 0.5s ease-in-out;
}
.hide-shalf{
    width: 5% !important;
}
video {
    width: 100%;
    height: 100%;
}

.qna-title strong {
    letter-spacing: 0px;
    color: #000000;
    font-family: 'Open Sans';
    font-size: 0.7rem;
}

li.qna-video-timestamp {
    font-size: 0.6rem !important;
    padding: 0px 5px;
    margin-left: 20px;
    background: #dcdcdc;
    border: 1px solid #bdbdbd;
    width: fit-content;
    border-radius: 2px;
    margin-bottom: 10px;
    line-height: 1.5em;
    cursor: pointer;
    color: black;
}

.qna-title-container {
    box-shadow: 0px 10px 10px -5px #eaeaea;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* margin-bottom: 20px; */
}

li.qna-answerButton {
    margin-left: 20px;
    border: 1px solid #666666;
    border-radius: 2px;
    width: fit-content;
    letter-spacing: 0.12px;
    padding: 5px 10px;
    color: #666666;
    font-family: Segoe UI;
    cursor: pointer;
    height: 15px;
    text-align: center;
    line-height: 0px !important;
    align-items: center;
}

li.qna-see-more {
    margin-left: 20px;
}

.qna-author-container {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.qna-body-container {
    padding: 0px 10px 0px 0px;
    overflow-y: scroll;
    height: 95%;
    box-sizing: border-box;
    width: 100%;
    margin-top: 15px;
}
strong.qna-ques-frame {
    color: #4036b9;
    font-family: 'Open Sans Light';
    text-transform: capitalize;
}

li.qna-answers-container {
    margin: 20px 0px 0px 0px;
    display: block !important;
}

.qna-answers {
    font-weight: bold;
    color: #505050;
    display: flex;
    margin-bottom: 3px;
}

.qna-author {
    font-size: 0.5rem;
    color: #505050;
}

.qna-author-timestamp {
    font-size: 0.5rem;
    color: #505050;
}

strong.see-more-title {
    font-style: italic;
    color: #4036b9;
    cursor: pointer;
    margin-left: 5px;
    font-family: 'Open Sans Light';
}

li.qna-see-more {
    display: flex;
    justify-content: flex-start;
}
.qna-body-container::-webkit-scrollbar {
    width: 5px;
}

.qna-body-container::-webkit-scrollbar-track {
    background: #70707080;
    border-radius: 25px;
}

.qna-body-container::-webkit-scrollbar-thumb {
    background: #2419AF;
    border-radius: 25px;
}

.qna-body-container::-webkit-scrollbar-thumb:hover {
    background: #252988;
}

.bottom-f-half {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: #F2F2F2 0% 0% no-repeat padding-box;
}

.bottom-s-half {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px;
    box-sizing: border-box;
}

.player-controls {
    display: flex;
    justify-content: space-between;
    opacity: 0;
}

.video-title-container {
    display: flex;
    align-items: start;
}

.video-title-container p {
    margin: 0;
    font-size: 0.5rem;
    color: #505050;
    word-break: break-word;
}

.video-title-container strong {
    color: #252988;
    margin-right: 5px;
}

button.video-subscribe, button.video-like , button.video-dislike {
    margin: 0px 5px;
    border: 1px solid #666666;
    border-radius: 5px;
    letter-spacing: 0.12px;
    color: #666666;
    font-size: 0.6rem;
    cursor: pointer;
    height: 30px;
}
button.video-subscribed{
    background-color: red;
    border: 1px solid red;
    color: white;
}

input.qna-input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 4px #00000029;
    border: 0.5px solid #70707033;
    border-radius: 5px;
    font-size: 0.6rem;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.qna-input-container {
    display: flex;
    justify-content: space-between;
}

span.current-play-time , span.timer-seprator , span.total-videoPlayTime {
    color: #505050;
    font-size: 0.7rem;
}
button.video-subscribe {
    padding: 5px;
}
button.video-like , button.video-dislike {
    padding: 5px 5px;
}
.add-to-bag-button {
    margin: 5px;
    background: transparent linear-gradient(235deg, #DCDDF6 0%, #E9EAF9 15%, #F2F2FB 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 2px #00000029;
    border: 0.20000000298023224px solid #707070;
    border-radius: 5px;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 0.8rem;
}
strong.qna-ques-symbol {
    margin-right: 5px;
    color: black;
}
.qna-title {
    align-self: center;
}
button.qna-mic-button {
    padding: 0;
    margin: 0;
    box-shadow: 0px 0px 0px 3px #00047466;
    border-radius: 100%;
    position: relative;
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin: 0px 10px;
}
button#start-recording, button#stop-recording{
    display: none;
}
img.atb-svg {
    height: 50px;
    width: 50px;
    align-self: center;
}
.title-icon img {
    height: 15px;
    width: 15px;
    vertical-align: bottom;
}
::-webkit-scrollbar-button {
    height: 20%;
}
img.play-pause-img {
    height: 15px;
    width: 15px;
    vertical-align: bottom;
    cursor: pointer;
}

button.play-pause-button {border: none;vertical-align: middle;}

img.see-more-icon {
    height: 10px;
    width: 10px;
    align-self: center;
    cursor: pointer;
}

.qna-box ol li {font-size: 0.7rem;display: flex;line-height: 1rem;margin-bottom: 5px;}

.video-title-container strong {
    font-size: 0.7rem;
    width: 100%;
}
img.like-img, img.dislike-img {
    vertical-align: bottom;
    height: 10px;
    width: 10px;
}

.video-js{
    z-index: 999;
}
.dave-videoPlayer-dimensions{
    width: 100%;
    height: 100%;
}

button.video-like.video-liked {
    background: #4caf50;
    color: white;
    border: 1px solid #4caf50;
}
button.video-dislike.video-disliked {
    background: #f44336;
    color: white;
    border: 1px solid #f44336;
}
input.qna-input:focus {box-shadow: 0px 0px 5px 0px #2419af;outline: none;}
.qna-mic-button-active{
    box-shadow: 0px 0px 0px 3px #ff1100 !important;
    background: #ff1100;
}
li.qna-see-more a {
    text-decoration: none;
}
textarea.qna-answerInput {
    box-sizing: border-box;
    width: 100%;
    font-size: 0.7rem;
    border-radius: 2px;
    border: 1px solid black;
    padding: 2px 10px;
    max-width: 100%;
    flex-basis: 65%;
    margin: 0px 0px 10px 0px;
}
textarea.qna-answerInput:focus{
    box-shadow: 0px 0px 5px 0px #2419af;outline: none;
}

li.qna-answerInput-container {
    margin: 10px 0px;
    flex-direction: column;
}

input.input-answerSubmit {
    padding: 5px;
    border: 1px solid #9293c0;
    background: #2419af;
    color: white;
    border-radius: 5px;
    flex-basis: 0;
}
p.err_txt {
    color: red;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    flex-basis: 100%;
}
p.postQuesErr.err_txt {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    text-align: center;
}
.qna-input-Button {
    width: 100%;
    position: relative;
    height: 40px;
}

button.qna-input-submit {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 90%;
    background: none;
    border: none;
    padding: 0px 20px 0px 10px;
}

img.qna-input-submitSvg {
    height: 50%;
    vertical-align: -12px;
}
.qna-box {
    margin-bottom: 20px;
}
.video-tags {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background: rgb(0 0 0 / 80%) !important;
    padding: 5px 10px;
    border-radius: 5px;
    color: #ffffff !important;
    border: none !important;
    padding: 10px 5px;
    letter-spacing: 1px;
}
button.video-tag-button {
    cursor: pointer;
    display: flex;
}
.show-vTags {
    display: block;
    transition: opacity 0.02s;
    opacity: 1 !important;
}
.show-vBranch{
    /* opacity: 1 !important; */
    height: 55% !important;
    padding: 20px !important;
    transition: all 2s linear;
}

.hide-vTags, .hide-vBranch{
    transition: display 0.02s;
    display: none !important;
    opacity: 0 !important;
}
.video-branch-container {
    position: absolute;
    bottom: 3em;
    right: 2em;
    z-index: 9999;
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    opacity: 0;
    height: 0;
    box-shadow: 0px 0px 5px 1px black;
}

p.video-branch-question {
    letter-spacing: 0px;
    color: #252988;
    font-size: 0.8rem;
    line-height: 1.5em;
}

.video-branch-option-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 10px;
}

button.video-branch-option {
    padding: 5px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #252988;
    border-radius: 3px;
    letter-spacing: 0px;
    color: #252988;
    font-size: 0.7rem;
    line-height: 1.5em;
    cursor: pointer;
}
button.video-tag-button.video-tags.show-vTags span {
    opacity: 1;
    vertical-align: middle;
    align-self: center;
}
p.review-question {
    align-self: center;
    margin: 0px 0px 5px 0px;
}

.review-answer {
    font-size: 0.7rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    position: absolute;
    bottom: 30px;
    background: white;
    border-radius: 5px;
    color: black;
    right: 20px;
    width: fit-content;
    margin: auto;
    box-shadow: 0px 0px 5px 0px black;
}
.review-answer div {
    margin: 10px;
}

button.review-button {
    font-size: 0.5rem;
    padding: 5px;
    margin: 0;
    height: fit-content;
    align-self: center;
    cursor: pointer;
    border: 1px solid #666666;
    border-radius: 2px;
    color: #666666;
}

.review-button-holder {
    align-self: center;
}
p.review-thankyou {
    color: #4caf50;
    font-size: 0.9rem;
    margin: 10px;
}
.video-cta {display: flex;justify-content: space-between;align-self: end;}
.dave-iv-popup {
    background: rgb(0 0 0 / 80%);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.dave-popup-close {
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.dave-popup-close img {
    background: #FFFFFF;
    padding: 10px;
    border-radius: 50%;
}

.ans-content {
    margin-left: 5px;
    line-height: 1.5em;
    align-self: center;
}
.s-halfFullScreen{
    top: 0;
    right: 0;
    position: absolute;
    width: 30%;
    opacity: 0;
    z-index: 0;
}
.bottom-f-halfFullScreen {
    position: absolute;
    bottom: 30px;
    opacity: 0;
    z-index: 0;
}
.vjs-control-bar {
    z-index: 9999;
}
.s-halfFullScreenShow, .bottom-f-halfFullScreenShow{
    z-index: 999;
    transition: opacity 1s;
    opacity: 1 !important;
}
#infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  span.videoTagPlusIcon {
    background: blue;
    padding: 5px;
    border-radius: 50%;
    color: white;
    height: fit-content;
    width: fit-content;
    font-size: 1rem;
}
.daveAvatarIVCont {
    position: absolute;
    z-index: 9999;
    display: none;
    bottom: 30px;
}
p.IV_chatBubble {
    font-size: 0.9rem;
    font-family: 'Open Sans';
    background: white;
    padding: 5px;
    color: black;
    border-radius: 2px;
    width: fit-content;
    margin: auto;
    box-shadow: 0px 0px 5px 0px black;
}
.errorChatBubble {
    background: #ffe4e4 !important;
    box-shadow: 0px 0px 5px 0px red !important;
}
.successChatBubble {
    background: #e8ffcd !important;
    box-shadow: 0px 0px 5px 0px #009688 !important;
}
.videoPlayerLoader {
    position: fixed;
    top: 30%;
    left: 40%;
    z-index: 999;
    text-align: center;
}
li.qna-question {
    margin-bottom: 10px !important;
}
.unknownReviewFormHolder {
    padding: 20px;
    background: white;
    color: black;
    font-size: 1rem;
    position: absolute;
    top: 25%;
    left: 30%;
    text-align: center;
    box-shadow: 0px 0px 5px 1px black;
}
.ans-prefix {
    align-self: center;
}
.video-container-max {
    width: 80%;
    margin: auto;
}

.bottom-f-half-max {
    width: 80%;
    margin: auto;
}
.dave-web-tags1,.dave-web-tags2,.dave-web-tags3 {
    position: fixed;
    top: 30%;
    background: blue;
    padding: 5px;
    z-index: 999;
    display: none;
}

.dave-web-tags2 {
    top: 17%;
}

.dave-web-tags3 {top: 10%;}

.webTags-s-half{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30%;
}
.webTags-bottom-f-half {
    position: fixed;
    bottom: 0;
}
/* Media Mobile Desktop Screen */

@media only screen and (min-width: 1024px) {
    .qna-title strong {
        font-size: 0.9rem;
    }
    
    .qna-box ol li {
        font-size: 0.8rem;
    }
    
    .qna-author {
        font-size: 0.6rem;
    }
    
    .qna-author-timestamp {
        font-size: 0.6rem;
    }
    .qna-body-container {
        height: 92%;
    }
    
    .video-title-container strong {
    font-size: 0.9rem;
    }
    
    input.qna-input {
        font-size: 0.7rem;
    }

    .qna-input-button {
        width: 90%;
    }
    
    button.qna-mic-button img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    margin: auto;
    height: 20px;
    }
    
    .bottom-f-half hr {
        margin: 10px 0px;
    }
    .bottom-f-half {
        padding: 20px;
    }
    
    .bottom-s-half {
        padding: 10px;
    }

    .video-cta {
        display: block;
        width: fit-content;
    }
    button.video-subscribe, button.video-like, button.video-dislike {
        margin: 0px 2px;
    }
    
    li.qna-answerButton {
        height: 20px;
        align-items: center;
    }
    
    .qna-answers-block {
        margin-bottom: 15px;
    }
    
    button.video-tag-button.video-tags.show-vTags span {
        font-size: 0.7rem;
        margin: 0px 2px;
        line-height: 1.5em;
    }
    
    li.qna-answerButton {
        font-size: 0.7rem !important;
    }
}

@media only screen and (min-width: 1280px){
    button.qna-mic-button {
        width: 50px;
        height: 50px;
    }
    
    button.qna-mic-button img {
        width: 30px;
        height: 30px;
    }
    
    input.qna-input {
    font-size: 0.8rem;
    }

    .bottom-f-half {
        padding: 20px;
    }
    
    .bottom-s-half {
        padding: 20px;
    }
    p.review-thankyou {
        font-size: 0.9rem;
    }
    .video-title-container strong {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1366px){
    .bottom-f-half {
        padding: 10px;
    }
    
    .bottom-s-half {
        padding: 10px;
    }
    img.like-img, img.dislike-img {
        height: 15px;
        width: 15px;
    }
    
    button.video-subscribe, button.video-like, button.video-dislike {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1440px){
    .bottom-f-half {
        padding: 20px;
    }
    
    .bottom-s-half {
        padding: 20px;
    }
}

@media only screen and (min-width: 1600px){
    li.qna-question,li.qna-answers-container {
        font-size: 0.9rem !important;
    }
    
    li.qna-video-timestamp {
        font-size: 0.8rem !important;
        padding: 5px;
    }
    
    button.video-tag-button.video-tags.show-vTags span {
        font-size: 0.9rem !important;
    }
    
    input.qna-input {
        font-size: 0.9rem;
    }
    
    .video-title-container strong {
        font-size: 1.1rem !important;
    }
    .qna-title strong {
        font-size: 1.1rem !important;
    }
}

@media only screen and (min-width: 1680px){
    div#dave-settings{
        width: 1680px;
        margin: auto;
        background-color: #FFFFFF;
    }
    body{
        background-color: #D9D4FB;
    }
    .video-title-container strong {
        font-size: 1.2rem;
    }
    
    .video-title-container p {
        font-size: 0.8rem;
    }
    
    span.current-play-time, span.timer-seprator, span.total-videoPlayTime {
        font-size: 1rem;
    }
    
    img.play-pause-img {
        height: 20px;
        width: 20px;
    }
    
    button.video-subscribe, button.video-like, button.video-dislike {
    font-size: 1rem !important;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    }

    img.like-img, img.dislike-img {
        height: 20px;
        width: 20px;
    }
    
    input.qna-input {
        padding: 10px;
    }
    
    .bottom-f-half {
        padding: 20px;
    }
    .bottom-f-half hr {
        margin: 20px 0px;
    }
    .qna-box ol li {
        font-size: 1rem !important;
    }
    
    li.qna-question {
        font-size: 1.2rem !important;
        margin: 15px 0px;
    }
    
    li.qna-answerButton {
        height: 25px;
        margin: 15px 0px 0px 20px !important;
    }    
}

@media only screen and (min-width: 1800px){
    .IV_conatiner.show-IV_container {
        width: 90%;
        margin: auto;
    }
}